<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{a}}</h1>
        <input type="text" v-model='a' name="" id="">
        <com-a v-model='a'></com-a>
    </div>
    <script>
        var comA = {
            template: `
        <input type="text" v-model='value' @input='asd()' placeholder='组件输入框'>
        `,
            data() {
                return {
                    b: ''
                }
            },
            model: {
                prop: 'value',
                event: 'change'
            },
            props: ['value'],
            methods: {
                asd() {
                    this.$emit('change', this.value)
                }
            }
        }

        new Vue({
            el: '#app',
            data() {
                return {
                    a: 1
                }
            },
            components: {
                comA: comA
            }
        })
    </script>
</body>

</html>