@import "variable";
@import "theme";

//根据dpr计算fontsize
@mixin font_dpr($font-size) {
  font-size: $font-size;
  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

//根据该函数设置字体大小后期方便管理
@mixin font_size($size) {
  @include font_dpr($size);
}

//不换行
@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//限制行数
@mixin clamp($row) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
  overflow: hidden;
}

@mixin bg_color() {
  background-color: $wangyihong;
  [data-theme = '1'] & {
    background-color: $wangyihong;
  }
;
  [data-theme = '2'] & {
    background-color: $qqlv;
  }
;
  [data-theme = '3'] & {
    background-color: $yejianmoshi;
  }
}

@mixin bg_sub_back_ground_color() {
  background-color: $background-color-sub-wangyihong;
  [data-theme = '1'] & {
    background-color: $background-color-sub-wangyihong;
  }
;
  [data-theme = '2'] & {
    background-color: $background-color-sub-wangyihong;
  }
;
  [data-theme = '3'] & {
    background-color: $background-color-sub-yejianmoshi
  }
}

@mixin font_color() {
 color: $font-color-wangyihong;
  [data-theme = '1'] & {
    color: $font-color-wangyihong;
  }
;
  [data-theme = '2'] & {
    color: $font-color-qqlv;
  }
;
  [data-theme = '3'] & {
    color: $font-color-yejianmoshi;
  }
}

@mixin font_active_color() {
  color: $font-active-color-wangyihong;
  [data-theme = '1'] & {
    color: $font-active-color-wangyihong;
  }
;
  [data-theme = '2'] & {
    color: $font-active-color-qqlv;
  }
;
  [data-theme = '3'] & {
    color: $font-active-color-yejianmoshi;
  }
}

@mixin active_border_color() {
  border-color: $border-color-wangyihong;
  [data-theme = '1'] & {
    border-color: $border-color-wangyihong;
  }
;
  [data-theme = '2'] & {
    border-color: $border-color-qqlv;
  }
;
  [data-theme = '3'] & {
    border-color: $border-color-yejianmoshi;
  }
}