$wangyihong: red;
$qqlv: green;
$yejianmoshi:#333;


$background-color-sub-wangyihong:#f5f5f5;
$background-color-sub-qqlv:#f5f5f5;
$background-color-sub-yejianmoshi:#444;

$font-color-wangyihong:#666;
$font-color-qqlv:#666;
$font-color-yejianmoshi:#ddd;

$font-active-color-wangyihong:#d43c33;
$font-active-color-qqlv:rgba(34,213,156,1);
$font-active-color-yejianmoshi:#ffcc33;

$border-color-wangyihong:#d43c33;
$border-color-qqlv:rgba(34,213,156,1);
$border-color-yejianmoshi:#ffcc33;